.header {
	background: #100e0e;
	height: 78px;
	font-size: 16px;
	position: relative;
	z-index: 2;
}

.header .header_inner{
	width: 1300px;
	margin: 0 auto;
}

.header .header_inner ul li{
	float: left;
	width: 75px;
	text-align: center;
	margin: 0 10px;
	margin-top: 15px;
	height: 42px;
	line-height:42px;
	border-bottom: 2px solid #fff;
	position: relative;
}
.header .header_inner ul li:after{
	content: '';
	position: absolute;
 	width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #fff;
    left: 29px
}
.header .header_inner ul li a {
	color: #fff;
	font-family:"幼圆", Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
	font-weight: bold;
	font-size: 18px;
}

.header .header_inner ul li.on{
	border-bottom: 2px solid #ffe797;
	color: #ffe797;
}

.header .header_inner ul li.on:after{
	border-top: 8px solid #ffe797;
}
.wrapper{
	position: absolute;
	top: 17px;
	left: 0;
}
.wrapper_width{
	width: 1300px;
	margin: 0 auto;
}
.bg_first_img{
	position: relative;
	width: 100%;
	display: block;
}

.bg_first .logo_first {
	position: absolute;
	top: -20px;
	left: 10%;
	z-index: 3;	
}

.first_bottom{
	width: 1300px;
	position: absolute;
	bottom: -100px;
	left: 50%;
	margin-left: -650px;
}

.first_bottom .code{
	position: absolute;
	left: 0;
	bottom: 0;
}

.first_bottom .download{
	background: url('../img/lipinma.png');
	width: 1067px;
	height: 343px;
	background-size: cover;
	float: right;
	position: relative;
}
.ios_download{
	width: 278px;
	height: 116px;
	background: url('../img/download_ios.png');	
	position: absolute;
    left: 13px;
    top: 125px;
}
.android_download{
	width: 278px;
	height: 135px;
	background: url('../img/download_android.png');	
	position: absolute;
    left: 14px;
    top: 205px;
}
.ios_download:hover{
	background: url('../img/download_ios_hover.png');	
}
.android_download:hover{
	background: url('../img/download_android_hover.png');	
}
/*second*/
.second{
	margin-top: 120px;
}
.slider_wrapper{
	width: 603px;
	height: 365px;
	border: 8px solid #000;
	box-sizing: border-box;

}
.slider { position: relative; overflow: auto; }
.slider li { list-style: none; }
.slider ul li { float: left; }
.slider ul li img{display:block;width: 100%;height: 100%;}
.news_list{
	width: 686px;
	height: 365px;
	overflow: hidden;
	float: right;
	position: relative;
}
.news_list ul.title{
	border-bottom: 8px solid #000
}
.news_list ul.title li{
	float: left;
	width: 126px;
	height: 42px;
	line-height: 46px;
	color: #fff;
	font-size: 14px;
	background: #848484;
	text-align: center;
	margin-right: 8px;
	font-size: 18px;
} 
.news_list ul.title li.on{
	background: #000
}
.news_list .list_more{
	position: absolute;
	right: 0;
	top: 5px;
	display: block;
	width: 80px;
	height: 32px;
	line-height: 32px;
	color: #000;
	font-size: 16px;
	background: #f6bc23;
	text-align: center;
}
.news_list .list_more b{
	font-size: 18px;
	font-weight: bold;;
}
ul.news_list_content{
	margin-top: 20px;
}

ul.news_list_content li{
	height: 30px;
	line-height: 30px;
	color: #484848;
	padding:0 10px 0 30px;
}
ul.news_list_content li a{
	color: #484848;
}
ul.news_list_content li i{
	display: block;
	width: 12px;
	height: 12px;
	background: #484848;
	float: left;
    margin-top: 10px;
    margin-right: 10px;
}

ul.news_list_content li:first-child{
	height: 63px;
	line-height: 63px;
	background: #484848;
}
ul.news_list_content li:first-child a{
	color: #fff;
}
ul.news_list_content li:first-child i{
	background: #000;
	margin-top: 25px;
}
/*third*/
.third{
	margin-top: 35px;
}
.third_inner{
}
.third ul{
	width: 1308px;
}
.third ul li{
	float: left;
	background: #000;
	height: 176px;
	padding-left: 13px;
	border: 6px solid #5e5e5e;
	margin-right: 13px;
	box-sizing:border-box;
	width: 314px;
}
.third ul li.nopadding{
	padding-left: 0px;
}
.third ul li a{
	display: block;
	width: 100%;
	height: 100%;
}
.third ul li a img{
	display: block;
	width: 100%;
	height: 100%;
}
/*fourth*/
.fourth {
	position: relative;
	margin-top: 25px;
}
.fourth .wrapper_fourth_box {
	margin-top: 10px;
	width: 100%;
	height: 510px;
	background-color: #000;
	position: relative;
}
.fourth .wrapper_fourth_box div {
	position: absolute;
	cursor: pointer;
}
.fourth_img1 {
	background: url(../img/wimg1.png) no-repeat;
	left: 15px;
	top: 18px;
	width: 212px;
	height: 224px;
}
.fourth_img1:hover {
	background: url(../img/wimg1_hover.png) no-repeat;
}
.fourth_img2 {
	background: url(../img/wimg2.png) no-repeat;
	left: 15px;
	bottom: 38px;
	width: 271px;
	height: 271px;
}
.fourth_img2:hover {
	background: url(../img/wimg2_hover.png) no-repeat;
}
.fourth_img3 {
	background: url(../img/wimg3.png) no-repeat;
	left: 185px;
	top: 5px;
	width: 240px;
	height: 488px;
}
.fourth_img3:hover {
	background: url(../img/wimg3_hover.png) no-repeat;
}
.fourth_vedio {
	background: url(../img/wvedio.png) no-repeat;
	left: 426px;
	top: 26px;
	width: 421px;
	height: 337px;
}
.fourth_img4 {
	background: url(../img/wimg4.png) no-repeat;
	left: 426px;
	bottom: 18px;
	width: 462px;
	height: 212px;
}
.fourth_img4:hover {
	background: url(../img/wimg4_hover.png) no-repeat;
}
.fourth_img5 {
	background: url(../img/wimg5.png) no-repeat;
	right: 60px;
	top: 22px;
	width: 428px;
	height: 244px;
}
.fourth_img5:hover {
	background: url(../img/wimg5_hover.png) no-repeat;
}
.fourth_img6 {
	background: url(../img/wimg6.png) no-repeat;
	right: 136px;
	bottom: 22px;
	width: 308px;
	height: 278px;
}
.fourth_img6:hover {
	background: url(../img/wimg6_hover.png) no-repeat;
}
.fourth_img7 {
	background: url(../img/wimg7.png) no-repeat;
	right: 17px;
	top: 22px;
	width: 220px;
	height: 448px;
}
.fourth_img7:hover {
	background: url(../img/wimg7_hover.png) no-repeat;
}